<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar fixed-top navbar-light bg-light">
    <h3 class="px-3"><%= link_to "RailsWikinimous", articles_path, class: 'link'  %></h3>
    <%= link_to new_article_path, class: 'btn btn-light m-2 px-3' do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
